<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
  <div class="container">

    <!-- Login component -->
    <div id="login" class="well auth-form-container">
      <form class="auth-form">
        <img class="pull-right" src="https://secure.gravatar.com/avatar/54b53868cb4d555b804125f1a3969e87.jpg?s=50&d=identicon&r=pg"/>
        <h2 class="auth-form-heading">Login</h2>
        <label for="username" class="sr-only">Email address or Username</label>
        <input type="text" id="username" class="form-control" placeholder="Email address or Username" required="" autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required="">
        <label hidden for="client_id" class="sr-only">Client Id</label>
        <input hidden type="password" id="client_id" class="form-control" placeholder="Client Id" required="">
        <label hidden for="redirect" class="sr-only">Redirect</label>
        <input hidden type="text" id="redirect" class="form-control" placeholder="Redirect" required="">
        <label hidden for="redirect_uri" class="sr-only">Redirect Uri</label>
        <input hidden type="text" id="redirect_uri" class="form-control" placeholder="Redirect Uri" required="">
        <label hidden for="server" class="sr-only">Server</label>
        <input hidden type="text" id="server" class="form-control" placeholder="Server" required="" value="http://localhost:3000">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>

  </div> <!-- /container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="login.js"></script>
</body>
</html>
