<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
  <div class="container">

    <div id="signup" name="signup" class="well auth-form-container">
      <form class="auth-form" action="/authentication/register" method="post">
        <img class="pull-right" src="https://secure.gravatar.com/avatar/54b53868cb4d555b804125f1a3969e87.jpg?s=50&d=identicon&r=pg"/>
        <h2 class="auth-form-heading">Sign up</h2>
        <label for="username" class="sr-only">Email address or Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Email address or Username" required="" autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="">
        <label hidden for="client_id" class="hide sr-only">Client Id</label>
        <input hidden type="password" id="client_id" name="client_id" class="hide form-control" placeholder="Client Id">
        <label hidden for="redirect" class="sr-only">Redirect</label>
        <input hidden type="text" id="redirect" name="redirect" class="form-control" placeholder="Redirect">
        <label hidden for="redirect_uri" class="sr-only">Redirect Uri</label>
        <input hidden type="text" id="redirect_uri" name="redirect_uri" class="form-control" placeholder="Redirect Uri" value="/v1/users">
        <label hidden for="server" class="hide sr-only">Server</label>
        <input hidden type="text" id="server" name="server" class="hide form-control" placeholder="Server" value="http://localhost:3000">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>

  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <script>
    window.exports = {};
    window.global = window;

    document.getElementById('server').value = window.location.origin;

    // add the username as the redirect
    document.getElementById('username').onblur = function(event) {
      var redirect = document.getElementById('redirect').value;
      if (redirect) {
        return;
      }

      document.getElementById('redirect').value = window.location.origin + '/v1/users' + '/' + event.target.value;
    };
  </script>

  <script type="text/javascript" src="signup.js"></script>
</body>
</html>
