<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>We need to make sure it's you</title>
  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="login_quick.css">
</head>
<body>
  <div class="container">

    <!-- Confirm Identity component -->
    <div id="confirm-identity" class="well auth-form-container">
      <form class="auth-form">
        <img class="pull-right" src="https://secure.gravatar.com/avatar/54b53868cb4d555b804125f1a3969e87.jpg?s=50&d=identicon&r=pg"/>
        <h2 class="auth-form-heading">Is it you?</h2>
        <p>
          <small>You are logged in as anonymouse</small>
        </p>
        <label for="inputQuickConfirmPassword" class="sr-only">Password</label>
        <input type="password" id="inputQuickConfirmPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">It's me</button>
      </form>
    </div>

  </div> <!-- /container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <script>
    window.exports = {};
    window.global = window;
  </script>

  <script type="text/javascript" src="login_quick.js"></script>
</body>
</html>
